
@{
    ViewBag.Title = "service";
}

<h2>service</h2>

<h2>difference</h2>

<p>
    <a href="/Home/About">About Mine :D </a>
    @Html.ActionLink("About","About","Home")

    @*@Html.Action("ContactUs", "Home")*@

</p>
